.search-bar {
    text-align: center;
    background-color: darkgray;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-bar > form {
    margin: 0 auto;
    min-width: 298px;
    display: flex;
    align-items: center;
}

label {
    font-size: 1.25em;
    font-weight: 400;
}

input:active, input:focus {
    background-color: lightyellow;
}

input {
    padding-left: 3px;
    font-size: 1em;
}

button {
    background-color: white;
    border: none;
    height: 23px;
}

button:hover, button:focus {
    border: 2px solid lightskyblue;
    border-radius: 3px;
    cursor: pointer;
}