.book-item {
    border-bottom: 2px solid #CCCCCC ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 2px;
}

img {
    min-width: 150px;
    border: 1px solid black;
}

.book-description {
    text-align: center;
    width: 70%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: blue;
    font-size: 1.01em;
    text-decoration: underline;
}

h3 {
    font-weight: 500;
}