.filter-section {
    background-color: lightgray;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
}

.book-type-filter {
    padding-left: 20px;
}

select {
    font-size: 1.05em;
}

#book-type {
    width: 145px;
}